<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="Hiring requirement" name="description">
	<meta content="" name="author">
	<meta content="Colorlib Templates" name="keywords">

	<!-- Title Page-->
	<title>SIGNIN</title>

	<!-- Icons font CSS-->
	<link href="/register/vendor/mdi-font/css/material-design-iconic-font.min.css" media="all" rel="stylesheet">
	<link href="/register/vendor/font-awesome-4.7/css/font-awesome.min.css" media="all" rel="stylesheet">
	<!-- Font special for pages-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	      rel="stylesheet">

	<!-- Vendor CSS-->
	<link href="/register/vendor/select2/select2.min.css" media="all" rel="stylesheet">
	<link href="/register/vendor/datepicker/daterangepicker.css" media="all" rel="stylesheet">

	<!-- Main CSS-->
	<link href="/register/css/main.css" media="all" rel="stylesheet">
	<link href="/register/css/radio.css" media="all" rel="stylesheet">

</head>

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
	<div class="wrapper wrapper--w680">
		<div class="card card-4">
			<div class="card-body">
				<h2 class="title">Registration Form</h2>
				<form method="post" th:action="@{/registerTest}">
					<div class="row row-space">
						<div class="col-2">
							<div class="input-group">
								<label class="label">Email</label>
								<input class="input--style-4"
								       name="first_name"
								       th:field="${userCandidate.user.email}"
								       type="text">
							</div>
						</div>
						<div class="col-2">
							<div class="input-group">
								<label class="label">Password</label>
								<input class="input--style-4"
								       name="last_name"
								       th:field="${userCandidate.user.password}"
								       type="password">
							</div>
						</div>
					</div>
					<div class="row row-space">
						<div class="col-2">
							<div class="input-group">
								<label class="label">Birthday</label>
								<div class="input-group-icon">
									<input class="input--style-4 js-datepicker"
									       name="birthday"
									       th:field="${userCandidate.candidate.dob}"
									       type="text">
									<i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
								</div>
							</div>
						</div>
						<div class="col-2">
							<div class="input-group">
								<label class="label">Gender</label>
								<div class="p-t-10">

									<div th:each="gender, itemStat : ${listGender}">
										<p>
											<!--												<input type="radio" id="test2" name="radio-group">-->
											<!--												<label for="test2">Pegender</label>-->
											<input th:field="${userCandidate.candidate.gender}"
											       th:value="${gender}"
											       type="radio"/>
											<label th:for="${#ids.prev('candidate.gender')}" th:text="${gender}">model
											</label>
										</p>
									</div>

									<!--									<label class="radio-container m-r-45">Male-->
									<!--										<input checked="checked" name="gender" type="radio">-->
									<!--										<span class="checkmark"></span>-->
									<!--									</label>-->
									<!--									<label class="radio-container">Female-->
									<!--										<input name="gender" type="radio">-->
									<!--										<span class="checkmark"></span>-->
									<!--									</label>-->
								</div>
							</div>
						</div>
					</div>
					<div class="row row-space">
						<div class="col-2">
							<div class="input-group">
								<label class="label">Your name</label>
								<input class="input--style-4"
								       name="email"
								       th:field="${userCandidate.candidate.name}"
								       type="text">
							</div>
						</div>
						<div class="col-2">
							<div class="input-group">
								<label class="label">Phone Number</label>
								<input class="input--style-4"
								       name="phone"
								       th:field="${userCandidate.candidate.phoneNumber}"
								       type="tel">
							</div>
						</div>
					</div>
					<div class="input-group">
						<label class="label">Subject</label>
						<div class="rs-select2 js-select-simple select--no-search">
							<select name="subject">
								<option disabled="disabled" selected="selected">Choose option</option>


							</select>
							<!--							<div th:each="gender: ${listGender}">-->
							<!--&lt;!&ndash;								<td th:text="${student.id}" />&ndash;&gt;-->
							<!--								<div th:text="${gender.name}">-->
							<!--							</div>-->
							<!--							</div>-->
							<div class="select-dropdown"></div>
						</div>
					</div>
					<div class="p-t-15">
						<button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Jquery JS-->
<script src="/register/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/register/vendor/select2/select2.min.js"></script>
<script src="/register/vendor/datepicker/moment.min.js"></script>
<script src="/register/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/register/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->