<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>EduWell - Education HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/home/bootstrap/css/bootstrap.min.css">


    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="/home/css/fontawesome.css">
    <link rel="stylesheet" href="/home/css/lightbox.css">
    <link rel="stylesheet" href="/home/css/owl.css">
    <link rel="stylesheet" href="/home/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="/home/css/flex-slider.css">


    <!--

    TemplateMo 573 EduWell

    https://templatemo.com/tm-573-eduwell

    -->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          <img src="/home/images/templatemo-eduwell.png" alt="EduWell Template">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#services">PERSONAL</a></li>
                          <li class="scroll-to-section"><a href="#courses">ORGANIZATION</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
<!--                                  <li><a href="/templates/candidate/about-us.htmlut-us.html">About Us</a></li>-->
<!--                                  <li><a href="our-services.html">Our Services</a></li>-->
<!--                                  <li><a href="contact-us.html">Contact Us</a></li>-->

                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Contact Us</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="#testimonials">BLOG</a></li>
                          <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Welcome to CV job </h6>
            <h2>Best Place To Find Company greatest <em>Company!</em></h2>
            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#contact-section">Join Us Now!</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="/home/images/banner-right-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Our Website</h6>
            <h4>Provided <em>Greatest</em></h4>
          </div>
        </div>

        <a th:href="@{'/candidate/ListCompanyCandidate'}">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="/home/images/service-icon-01.png" alt="">
                </div>
                <h4>Management Company</h4>
                <p>EduCV is the professional provide for your school or university.</p>
              </div>
            </div>
        </a>

        <a href="/candidate/listAllCV">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="/home/images/service-icon-02.png" alt="">
                </div>
                <h4>Management Candidate</h4>
                <p>You can View all information and use this EduCV  for your Management and find job in company.</p>
              </div>
            </div>
        </a>


        <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="/home/images/service-icon-03.png" alt="">
                </div>
                <h4>Management profile</h4>
                <p>Please click your profile for view personal private.</p>
              </div>
            </div>
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-04.png" alt="">-->
<!--                </div>-->
<!--                <h4>Top Company</h4>-->
<!--                <p>Aenean bibendum consectetur ex eu porttitor. Pellentesque id ultrices metus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-01.png" alt="">-->
<!--                </div>-->
<!--                <h4>Popular job</h4>-->
<!--                <p>In non nisi eget magna efficitur ultricies non quis sapien. Pellentesque tellus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-02.png" alt="">-->
<!--                </div>-->
<!--                <h4>Creative Ideas</h4>-->
<!--                <p>Aenean bibendum consectetur ex eu porttitor. Pellentesque id ultrices metus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-03.png" alt="">-->
<!--                </div>-->
<!--                <h4>Ready Target</h4>-->
<!--                <p>In non nisi eget magna efficitur ultricies non quis sapien. Pellentesque tellus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-04.png" alt="">-->
<!--                </div>-->
<!--                <h4>Technology</h4>-->
<!--                <p>Aenean bibendum consectetur ex eu porttitor. Pellentesque id ultrices metus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-01.png" alt="">-->
<!--                </div>-->
<!--                <h4>Useful Tricks</h4>-->
<!--                <p>In non nisi eget magna efficitur ultricies non quis sapien. Pellentesque tellus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-02.png" alt="">-->
<!--                </div>-->
<!--                <h4>Creative Ideas</h4>-->
<!--                <p>Aenean bibendum consectetur ex eu porttitor. Pellentesque id ultrices metus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-03.png" alt="">-->
<!--                </div>-->
<!--                <h4>Ready Target</h4>-->
<!--                <p>In non nisi eget magna efficitur ultricies non quis sapien. Pellentesque tellus.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <div class="service-item">-->
<!--                <div class="icon">-->
<!--                  <img src="/home/images/service-icon-04.png" alt="">-->
<!--                </div>-->
<!--                <h4>Technology</h4>-->
<!--                <p>Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.</p>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>OUR Website</h6>
            <h4>What You Can <em>Choose</em></h4>
            <p>You just think about TemplateMo whenever you need free CSS templates for your business website</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Web Development</span></div>
                    <div class="gradient-border"><span>Graphic Design</span></div>
                    <div class="gradient-border"><span>Web Design</span></div>
                    <div class="gradient-border"><span>WordPress</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="/home/images/courses-01.jpg" alt="">
                          <div class="price"><h6>$128</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>Web Development</h4>
                          <p>Did you know that you can visit <a rel="nofollow" href="https://www.toocss.com/" target="_blank">TooCSS website</a> for latest listing of HTML templates and a variety of useful templates. 
                          <br><br>You just need to go and visit that website right now. IF you have any suggestion or comment about this template, you can feel free to go to contact page for our email address.</p>
                          <span>36 Hours</span>
                          <span>4 Weeks</span>
                          <span class="last-span">3 Certificates</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="/home/images/courses-02.jpg" alt="">
                          <div class="price"><h6>$156</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>Creative Graphic Design</h4>
                          <p>You are not allowed to redistribute this template ZIP file on any other website without a permission from us.<br><br>There are some unethical people on this world copied and reposted our templates without any permission from us. Their Karma will hit them really hard. Yeah!</p>
                          <span>48 Hours</span>
                          <span>6 Weeks</span>
                          <span class="last-span">1 Certificate</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="/home/images/courses-03.jpg" alt="">
                          <div class="price"><h6>$184</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>Web Design</h4>
                          <p>Quinoa roof party squid prism sustainable letterpress cray hammock tumeric man bun mixtape tofu subway tile cronut. Deep v ennui subway tile organic seitan.<br><br>Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la croix af chillwave.</p>
                          <span>28 Hours</span>
                          <span>4 Weeks</span>
                          <span class="last-span">1 Certificate</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="/home/images/courses-04.jpg" alt="">
                          <div class="price"><h6>$76</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>WordPress Introduction</h4>
                          <p>Quinoa roof party squid prism sustainable letterpress cray hammock tumeric man bun mixtape tofu subway tile cronut. Deep v ennui subway tile organic seitan.<br><br>Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la croix af chillwave.</p>
                          <span>48 Hours</span>
                          <span>4 Weeks</span>
                          <span class="last-span">2 Certificates</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="/home/images/cta-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Get the sale right now!</h6>
          <h4>Up to 50% OFF For 1+ courses</h4>
          <p>Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la croix af chillwave.</p>
          <div class="white-button">
            <a href="contact-us.html">View Courses</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Testimonials</h6>
            <h4>What They <em>Think</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>“just think about TemplateMo if you need free CSS templates for your website”</p>
                <h4>Catherine Walk</h4>
                <span>CEO &amp; Founder</span>
                <img src="/home/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“think about our website first when you need free HTML templates for your website”</p>
                <h4>David Martin</h4>
                <span>CTO of Tech Company</span>
                <img src="/home/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“just think about our website wherever you need free templates for your website”</p>
                <h4>Sophia Whity</h4>
                <span>CEO and Co-Founder</span>
                <img src="/home/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Helen Shiny</h4>
                <span>Tech Officer</span>
                <img src="/home/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>George Soft</h4>
                <span>Gadget Reviewer</span>
                <img src="/home/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Andrew Hall</h4>
                <span>Marketing Manager</span>
                <img src="/home/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Maxi Power</h4>
                <span>Fashion Designer</span>
                <img src="/home/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Olivia Too</h4>
                <span>Creative Designer</span>
                <img src="/home/images/quote.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          
            <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7151.84524236698!2d-122.19494600413192!3d47.56605883252286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490695e625f8965%3A0xf99b055e76477def!2sNewcastle%20Beach%20Park%20Playground%2C%20Bellevue%2C%20WA%2098006%2C%20USA!5e0!3m2!1sen!2sth!4v1644335269264!5m2!1sen!2sth" width="100%" height="420px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Phone</h4>
                  <span>010-020-0340</span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Mobile</h4>
                  <span>090-080-0760</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">

              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4>Say <em>Hello</em></h4>
                  <p>IF you need a working contact form by PHP script, please visit TemplateMo's contact page for more info.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2022 EduWell Co., Ltd. All Rights Reserved. 
          
          <br>Design: <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/home/jquery/jquery.min.js"></script>
    <script src="/home/bootstrap/js/bootstrap.min.js"></script>

    <script src="/home/js/isotope.min.js"></script>
    <script src="/home/js/owl-carousel.js"></script>
    <script src="/home/js/lightbox.js"></script>
    <script src="/home/js/tabs.js"></script>
    <script src="/home/js/video.js"></script>
    <script src="/home/js/slick-slider.js"></script>
    <script src="/home/js/custom.js"></script>







    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>